<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kisen.dao.UserMapper">

    <resultMap id="userAndDepResultMap" type="com.kisen.entity.User">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <association property="depInfo" select="getDepById" column="dept_id"/>
    </resultMap>

    <resultMap id="depResultMap" type="com.kisen.entity.Dept">
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <select id="getDepById" resultMap="depResultMap">
        SELECT * FROM dept WHERE DEPT_ID = #{deptId}
    </select>

    <select id="getAllUser" resultMap="userAndDepResultMap">
        select
        *
        from sf_org_user ct
    </select>

</mapper>